<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mac.jacwang.aurora20150610"
    >

    <uses-sdk tools:node="merge" />

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--網路-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--ＧＰＳ-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--網路定位-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--懸浮視窗-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--讀寫檔案權限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--讀取通話狀態-->

    <permission android:name="mac.jacwang.aurora20150610.permission.C2D_MESSAGE" android:protectionLevel="signature" />-->
    <!-- 使用GCM -->
    <uses-permission android:name="mac.jacwang.aurora20150610.permission.C2D_MESSAGE" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 手機震動 -->
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".welcome"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".menu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".memberJoin"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".memberJoinSuccess"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".memberShip"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".myFavorite"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".promote_list"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".recommendStore"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".recommendStoreSuccess"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".store_search_category"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".store_search_list"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".store_info"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".web_img"
            android:label="@string/app_name" >
        </activity>

        <!-- 接收 GCM 的 receiver -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">

            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="mac.jacwang.aurora20150610" />
            </intent-filter>
        </receiver>

        <!-- GCM service -->
        <!--<service android:name=".GCMIntentService" />-->
    </application>

</manifest>
